*{
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}
.main-header{
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
   
}
.main-header > div{
    display: inline-block;
    vertical-align: middle;
}
#main-link{
    text-decoration: none;
    color:#0e4f1f;
    font-weight: bold;
    font-size: 22px;
}
.main-nav{
    display:inline-block;
    text-align: right;
    width: calc(100% - 75px);
    vertical-align: middle;
}
.main-nav_items{0px
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    
}
.main-nav__item{
    display: inline-block;
    margin: 0px 16px;
    font-weight: bold;
    padding: 3px 0px;
    
    
}
.main-nav__item a:hover{
    color: white;
}
.main-nav__item a:active{
    color: yellow;
    border-bottom: 5px solid white;
}
.link{
    
    text-decoration: none;
    color:#0e4f1f;
    
}
.mnc a{
    color: white;
    background-color: #ff1b68;
    border-radius: 8px;
    padding: 8px 16px;
}
.mnc a:hover,
.mnc a:active{
    color: #ff1b68;
    background: white;
    border:none;
}
.btn{
    background: #06270f;
    color: white;
    padding: 8px;
    font: inherit;
    border-radius: 8px;
    font-weight: bold;
    cursor:pointer;

}
.btn:hover,
.btn:active{
    background: white;
    color:#06270f ;
}
.btn:focus{
    outline: none;
}
.main-footer{
    background: black;
    padding: 32px;
    margin-top: 48px;
}
.main-footer-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.main-footer-listitem{
    display: inline-block;
    margin: 0px 16px;
}
.main-footer-list a{
    color: white;
    text-decoration: none;
}
.main-footer-list a:hover,
.main-footer-list a:active{
    color: #ccc;
}